<html>    
    <header>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="styles/all.css">
    </header>
    <body>
        <div class="contenido">
            <div id="sombraRecuadro">
                <img src="{{logo_url}}">
            </div>
            <div class="textoParrafoGrayBold">{{promotion.title}}:</div>
            <div class="textoParrafoGrayLight">
                {{{promotion.details}}}
            </div>
        </div>
        <div id="footerDetalle" >
            <div class="textoParrafoWhiteMedium">
                <span>{{contacts.names}}</span><br>
            </div>
            <div class="textoParrafoWhiteMedium">
                {{{contacts.address}}}
            </div>
        </div>
        <div id="footerDetalle">
            <div class="textoParrafoWhiteLight">                
                {{{valid_for}}}
            </div>
        </div>
        <div id="footerDetallelast">
            <div class="textoParrafoWhiteLight">
                <span>Sede: {{sedes}}</span>
            </div>
        </div>
    </body>
</html>